$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

.active1 {
  background-color: $darkest-blue;
}

article {
  text-align: justify;
}

body {
  background-color: $dark-blue;
  color: $white;
  font-size: 20px;
  position: relative;
  z-index: 2;
}

.parallax {
  // /* Create the parallax scrolling effect */
  background-attachment: fixed;
  // /* The image used */
  background-image: url('/../lib/images/girl1-preso.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  // /* Set a specific height */
  min-height: 350px;
  position: relative;
  z-index: -1;
}

.parallax2 {
  background-attachment: fixed;
  background-image: url('/../lib/images/hula-dancing.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
}

.parallax3 {
  background-attachment: fixed;
  background-image: url('/../lib/images/jeopardy-preso.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
}

.parallax4 {
  background-attachment: fixed;
  background-image: url('/../lib/images/argentina-pot-luck.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
}

// .back-img {
//   background-color: $light-blue;
//   background-image: url('/../lib/images/girl1-preso.jpg');
//   background-size: cover;
//   color: $white;
//   height: 100%;
//   left: 0;
//   margin-bottom: 0;
//   margin-top: 0;
//   opacity: .8;
//   overflow: hidden;
//   padding-bottom: 180px;
//   position: relative;
//   top: -90px;
//   width: 100%;
//   z-index: 1;
// }

// .jumbotron-billboard .img {
//   background: $black url('/../lib/images/AisleanMisti.jpg') center center;
//   background-size: cover;
//   color: $white;
//   height: 100%;
//   left: 0;
//   margin-bottom: 0;
//   opacity: .8;
//   overflow: hidden;
//   position: absolute;
//   top: 0;
//   width: 100%;
//   z-index: 1;
// }

.signature {
  color: $white;
  font-size: 14px;
  text-align: center;
}

.jumbotron {
  color: $white;
  position: relative;
}

//z-index allows this div to be in front of img div and not be affected by opacity
.jumbotron .container {
  color: $white;
  position: relative;
  z-index: 2;
}

.lead {
  font-weight: bolder;
}

.jumbo2 {
  background-color: $darkest-blue;
  border: 1px solid $light-blue;
  color: $white;
  top: 20px;
}

.navbar {
  background-color: $dark-blue;
  color: $white;
}

// /* Create four equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  width: 25%;
}

.column img {
  margin-top: 12px;
  width: 100%;
}

// /* Clear floats after the columns */
.row::after {
  clear: both;
  content: '';
  display: table;
}

// /* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    width: 50%;
    }
}

// /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
   }
}

.icon-scroll,
.icon-scroll::before {
  position: absolute;
  right: 40%;
}

.icon-scroll {
  border-radius: 25px;
  box-shadow: inset 0 0 0 1px $white;
  height: 70px;
  // margin-left: -20px;
  margin-top: -110px;
  top: 50%;
  width: 40px;
}

.icon-scroll::before {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  background: $white;
  border-radius: 4px;
  content: '';
  height: 8px;
  margin-left: -4px;
  top: 8px;
  width: 8px;
}

@keyframes
scroll {
  0% {
    opacity: 1;
  }

  100% {opacity: 0;
    transform: translateY(46px);
  }
  }
