$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

.active1 {
background-color: $darkest-blue;
}

article {
  color: $white;
  font-size: 20px;
  text-align: justify;
}

body {
  background-color: $dark-blue;
  color: $white;
}

.parallax {
  // /* Create the parallax scrolling effect */
  background-attachment: fixed;
  // /* The image used */
  background-image: url('/../lib/images/girl1-preso.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  // /* Set a specific height */
  min-height: 250px;
}

.parallax2 {
  background-attachment: fixed;
  background-image: url('/../lib/images/hula-dancing.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
}

.parallax3 {
  background-attachment: fixed;
  background-image: url('/../lib/images/jeopardy-preso.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
}

// .parallax-flag {
//   background-attachment: fixed;
//   // background-image: url('/../lib/images/jeopardy-preso.jpg');
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   min-height: 250px;
// }

// .back-img {
//   background-color: $light-blue;
//   background-image: url('/../lib/images/girl1-preso.jpg');
//   background-size: cover;
//   color: $white;
//   height: 100%;
//   left: 0;
//   margin-bottom: 0;
//   margin-top: 0;
//   opacity: .8;
//   overflow: hidden;
//   padding-bottom: 180px;
//   position: relative;
//   top: -90px;
//   width: 100%;
//   z-index: 1;
// }

// .jumbotron-billboard .img {
//   background: $black url('/../lib/images/AisleanMisti.jpg') center center;
//   background-size: cover;
//   color: $white;
//   height: 100%;
//   left: 0;
//   margin-bottom: 0;
//   opacity: .8;
//   overflow: hidden;
//   position: absolute;
//   top: 0;
//   width: 100%;
//   z-index: 1;
// }

.signature {
  color: $white;
  font-size: 14px;
  text-align: center;
}

.jumbotron {
  color: $white;
  position: relative;
}

//z-index allows this div to be in front of img div and not be affected by opacity
.jumbotron .container {
  color: $white;
  position: relative;
  z-index: 2;
}

.lead {
  font-weight: bolder;
}

.jumbo2 {
  background-color: $darkest-blue;
  border: 1px solid $light-blue;
  color: $white;
  top: 20px;
}

.navbar {
  background-color: $dark-blue;
  color: $white;
}
