$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

article {
  font-size: 20px;
  height: 200px;
  text-align: justify;
}

body {
  background-color: $light-blue;
}

.jumbotron-billboard .img {
  background: $black url('/../lib/images/AisleanMisti.jpg') center center;
  background-size: cover;
  color: $white;
  height: 100%;
  left: 0;
  margin-bottom: 0;
  opacity: .8;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.jumbotron {
  color: $white;
  position: relative;
  // padding: 50px;
}

//z-index allows this div to be in front of img div and not be affected by opacity
.jumbotron .container {
  color: $white;
  position: relative;
  z-index: 2;
}

.lead {
  font-weight: bolder;
}

.jumbo2 {
  background-color: $dark-blue;
  color: $white;
}

.navbar {
  background-color: $dark-blue;
  color: $white;
}
